dist/
docs/
examples/
assets/
.pytest_cache
.ipynb_checkpoints
*.egg-info
scripts
tests
*.ipynb
*.json
*.zip
__pycache__
*.pyc
*.pyo
*.pyd
.venv
.dockerignore
.gitignore
Dockerfile
binder/Dockerfile
*.dockerfile
docker-compose.yml
LICENSE
.git
