[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pysodium = "*"
"pyblake2" = "*"
"base58" = "*"
"secp256k1" = "*"
"parameterized" = "*"

[dev-packages]

[requires]
python_version = "3.6"
