<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/jsondiffpatch@0.3.11/dist/jsondiffpatch.umd.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jsondiffpatch@0.3.11/dist/formatters-styles/annotated.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jsondiffpatch@0.3.11/dist/formatters-styles/html.css">
    </head>
    <body>
        <div id="visual"></div>
        <script>
            var left = {{left}};
            var right = {{right}};
            var delta = jsondiffpatch.diff(left, right);
            document.getElementById('visual').innerHTML = jsondiffpatch.formatters.html.format(delta, left);
        </script>
    </body>
</html>