name: Binder
on:
  push:
    branches:
      - master

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: cache binder build on mybinder.org
        uses: machine-learning-apps/repo2docker-action@0.2
        with:
          NO_PUSH: true
          MYBINDERORG_TAG: ${{ github.event.ref }}